@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
    font-family: 'Open Sans', sans-serif;    
    padding: 1em;
    margin-left: 40px;
    margin-right: 100px;
}

p {
    font-weight: 600;
}

#nodeInfo {
    width: 100%;
    height: 10vh;
    margin-bottom: 2em;
}

#amount {
    width: 80px;
    display: inline;
}

#agerange {
    width: 85px;
    display: inline;
}

#dashboard {
    width: 15vw; 
    float: left;
    margin-right: 50px;
}

#viz {
    width: 750px; 
    float: left;
}

#chart {
    width: 750px; 
}

#water {
    z-index: -1;
    background:#CCDDEE;
    height:0px;
    width:900px;
    position:absolute;
    top: 380px;
    margin:0px;
    opacity: 0.8;
}

.column-left { 
    float: left; 
    width: 300px; 
    margin-left: 110px;
}

.column-center { 
    display: inline-block; 
    width: 180px; 
}

.column-right { 
    float: right; 
    width: 80px; 
}

.columns {
    width: 790px
}

#passengerInfo, #hoverHelpMessage {
    font-size: 12px;
}

#passengerName, #passengerAge, #passengerSex {
    margin:0;
}


